{% extends "backend/base.html" %}
{% load staticfiles %}
{% load bootstrap4 %}
{% block content %}

  <div class="container">

    <div class="card o-hidden border-0 ">
      <div class="card-body p-0">
        <!-- Nested Row within Card Body -->
        <div class="row  align-self-center">
          <div class="col-7">
            <div class="p-5">
              <div class="text-center">
                <h1 class="h4 text-gray-900 mb-4">Crear Categoría</h1>
              </div>
              <form method="POST">
               {% csrf_token %}

                <div class="form-group col 3">
                  {% bootstrap_form form %}
                </div>
                <div class="col align-self-center">
                  <div class="card-footer">
                    <button class="btn btn-sm btn-primary" type="submit">
                      <i class="fas fa-save"></i> Guardar</button>
                    <a class="btn btn-sm btn-danger"  href="{% url 'cursos:categoria_list' %}">
                      <i class="fa fa-ban"></i> Cancelar</a>
                  </div>
              </div>

              </form>
              <hr>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
  {% endblock content %}
